body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
}

.avatar:hover {
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Moves upward */
    }
}





.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #FFFF3F;
    color: #2b2839;
    border-bottom: 6px solid #BFD200;
    box-
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

/* Add hover effect for h3, p, and h4 elements */
.card h3:hover,
.card p:hover,
.card h4:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Subtle shadow effect */
    transition: text-shadow 0.3s ease; /* Smooth transition */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

